<%= provide(:heading, "Customer Service") %>

<p>
  Call us daily from <strong>8:00am - 10:00pm</strong> at
  <span style="color:red">6261 3456</span>
  <br>
  or email to <strong><a href="mailto:help@redmart.com">help@redmart.com</a></strong>
</p>
