<footer class="footer container">
      <%= debug(params) if Rails.env.development? %>
      <small>
        &copy; 2016
        <a href="https://www.dota2.com/international/announcement"><strong>Dysol</strong></a>,
        All Rights Reserved. | RedMart on Rails
      </small>
      <nav>
        <ul>
          <li><%= link_to "About RedMart", about_path %></li>
          <li><%= link_to "Customer Service", support_path %></li>
        </ul>
      </nav>
    </footer>
