<!-- Search Bar -->
<!-- <div class="search-bar">
  <div class="input-group search-bar">
    <input type="search" class="form-control" placeholder="Search for a product...">

    <span class="input-group-btn">
      <button class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
    </span>
  </div>
</div> -->
