/* header */

.navbar-inverse {
  background-color: $navbar-inverse-color;
  border-color: $navbar-inverse-color;
}

#logo {
  margin-top: -10px;
  &:hover {
    opacity: 0.9;
  }
}
// Search bar
.search-bar {
  width: 40%;
  float: left;
  position: relative;
  margin-top: 5px;

  .input-group {
    width: 100%;

    .form-control {
      //border: 1px solid #EE4054;
      border-color: white;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    .input-group-btn {
      .btn-default {
        //border: 1px solid #EE4054;
        border-color: white;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        &:hover {
          background: white;
          border-color: white;
        }
      }
      .glyphicon-search {
        font-size: 1.1em;
        opacity: 0.4;
        &:hover {
          opacity: 0.8;
          color: $navbar-inverse-color;
        }
      }
    }
  }
}
// Nav bar buttons
.navbar-inverse .navbar-nav {
  margin-right: 15px;
  li {
    border-left: 1px solid $navbar-inverse-hover-color;
  }
  .navbar-links {
    color: white;
    &:hover {
      background-color: $navbar-inverse-hover-color;
    }
  }

  .no-cart {
    &:hover {
      text-decoration: line-through;
      font-weight: 700;
    }
  }
  .navbar-icons {
    margin-right: 2px;
  }

  /*  Dropdown menu when logged in  */
  .open {
    a:focus {
      color: #fff;
      background-color: $navbar-inverse-hover-color;
    }
  }
  .navbar-drop {
    &:hover {
      background-color: #fff;
      color: $navbar-inverse-hover-color;
    }
  }


}


// .navbar-inverse .navbar-nav > .open > a:focus {
//   color: #000;
//   background-color: #fff;
// }
