/* header */

.navbar-inverse {
  background-color: $navbar-inverse-color;
  border-color: $navbar-inverse-color;
}

#logo {
  margin-top: -10px;
  &:hover {
    opacity: 0.9;
  }
}
// Search bar
.col-md-8 {
  margin-top: 10px;
  .input-group {

    .form-control {
      //border: 1px solid #EE4054;
      border-color: white;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    .input-group-btn {
      .btn-default {
        //border: 1px solid #EE4054;
        border-color: white;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        &:hover {
          background: white;
          border-color: white;
        }
      }
      .glyphicon-search {
        font-size: 1.1em;
        opacity: 0.4;
        &:hover {
          opacity: 0.8;
          color: $navbar-inverse-color;
        }
      }
    }
  }
}
// Nav bar buttons
.navbar-inverse .navbar-nav {
  margin-right: 15px;
  li {
    border-left: 1px solid $navbar-inverse-hover-color;
    a {
      color: white;
      &:hover {
        background-color: $navbar-inverse-hover-color;
      }
    }
  }
}
