/* main content */

.header-bg {
  background-color: $navbar-inverse-color;
  margin-bottom: 15px;
  h1 {
    color: white;
  }
}

.btn-primary {
  background-color: $navbar-inverse-color;
  border-color: $navbar-inverse-color;
  &:hover {
    background-color: $navbar-inverse-hover-color;
    border-color: $navbar-inverse-hover-color;
  }
}

.linkto-text {
  color: #888;
  &:hover {
    color: #999;
  }
}

/* static pages */
.about-text {
  text-align: left;
  font-size: 1.2em !important;
}

.table {
  text-align: left;
}

.profile-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin-top: 10px;

  li {
    list-style: none;
  }
}

/* product pages */
.product-links {
  color: black;
  .show-products {
    margin-top: 10px;
    &:hover {
      border-radius: 5px;
      box-shadow: 8px 8px 25px 5px #E1E1E1;
    }
    h4 {
      font-size: 1em;
      font-weight: 300;
    }
    p {
      font-size: 1.1em;
      font-weight: 500;
    }

  }
}

.product-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.review-textarea {
  width: 40%;
  textarea {
    height: 105px;
    margin-bottom: 5px;
  }
}

.review-row {
  margin-top: 30px;
  border-top: 1px solid #B7B8B3;
  border-bottom: 1px solid #B7B8B3;
  padding: 0;

  .review-col {
    text-align: left;
    padding: 0;
    h4 {
      font-weight: 600;
      color: $navbar-inverse-hover-color
    }
    li {
      list-style: none;
      border-top: 1px solid #DADEDD;
      padding: 10px 0;
    }
    .user {

    }
    .content {
      display: block;
    }
    .timestamp {
      display: block;
      color: #C0C0C0;
    }
  }
}
