/* universal */

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #ECF0F1;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  background-color: white;
  text-align: center;
}

a {
  color: $navbar-inverse-color;
  &:hover {
    color: $navbar-inverse-color;
  }
}
